*.pcd

*.ply

*.txt

Voxelization/cubes/

Voxelization/temp_cubes/

Voxelization/temp_cubes_noconv/

Voxelization/temp_pcds/

Voxelization/temp_pcds_noconv/

Voxelization/temp_voxels/

Voxelization/temp_voxels_noconv/

Voxelization/voxels/

*.zip

*.png

*.csv

*.onnx

*.pt

*.pkl

*.stl